body {
  height: 100vh;
  background: repeating-linear-gradient(
    to right,
    #FFCB05 ,
    #2A75BB ,
    #C7A008 ,
    #3C5AA6
  );
}

.hidden {
  display: none;
}

.grid {
  width: 430px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-left: 500px;
}
